<div class="container">
  <div class="arrow">


    <div  class="author" *ngFor="let myfollowed of followed">
      <a>
        <span><img src="../../assets/images/category-1.png" alt=""></span>
        <span class="author_name">{{_nickname}}</span>

      </a>
      <div class="author_title">
        <a href="" >{{myfollowed._nickname}}</a>
      </div>
      <p class="author_content">
        {{myfollowed._nickname}}
      </p>
      <div class="meta">
        <a href="" class="meta_theme">
          ddadfdf
        </a>
        <a href="">
          <img  src="../../assets/images/eye.png" alt="">
          424
        </a>
        <a href="">
          <img src="../../assets/images/response.png" alt="">
          43432
        </a>
        <a>
          <img class="meta_ico" src="../../assets/images/heart.png" alt="">
          2
        </a>
      </div>
    </div>


  </div>
</div>
