<!--<div class="container">-->
  <!--<div class="row" *ngIf="hiddenNavs">-->
    <!--<div class="nav">-->
      <!--<ul class="nav-ul">-->
        <!--<li class="col-lg-2 col-md-2" routerLink="/index" routerLinkActive="active">简</li>-->
        <!--<li class="col-lg-2 col-md-2" routerLink="/index" routerLinkActive="active">首页</li>-->


        <!--<li class="col-lg-1 col-md-1 col-lg-offset-4" routerLink="/login" routerLinkActive="active">登陆</li>-->
        <!--<li class="col-lj-1 col-md-1" routerLink="/register" routerLinkActive="active">注册</li>-->
        <!--<li class="col-lj-1 col-md-1" routerLink="/PersonalCenter" routerLinkActive="active">per</li>-->
      <!--</ul>-->
      <!---->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<router-outlet></router-outlet>



